<div>
  <div>
    <!-- title is one way property binding or interpolation, can't change it, read only,  -->
    <h2 class="card-header text-center">{{title}}</h2>
  </div>
  <div class="card-body">
    <!-- one way property bind image urol -->
    <img src="{{image}}" alt="user network" class="mx-auto d-block">
    <div class="list-group">
      <br>
      <button type="button" class="btn btn-secondary btn-lg btn-block" placement="right" ngbPopover="Qyery All Users From The Database"
      popoverTitle="GET Request">View All Users</button>
      <button type="button" class="btn btn-secondary btn-lg btn-block" placement="right" ngbPopover="Qyery All Users From The Database"
      popoverTitle="GET Request">Register User</button>
      <button type="button" class="btn btn-secondary btn-lg btn-block" placement="right" ngbPopover="Qyery All Users From The Database"
      popoverTitle="GET Request">Find User</button>
      <button type="button" class="btn btn-secondary btn-lg btn-block" placement="right" ngbPopover="Qyery All Users From The Database"
      popoverTitle="GET Request">Remove User</button>
    </div>

  </div>
</div>
